/* BookInfo.css */
.book-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #313131;
  }
  
  .book-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .book-detail {
    margin: 5px 0;
  }
  
  .book-description {
    font-style: italic;
  }
  