
.book-detail {

    display: flex;
    flex-direction: row;
    width: 100%;

    .book-nav {

        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 40px;

        border-right: 1px solid rgb(68, 70, 70);

        .book-cover {

            .book-cover-img {

                width: 250px;
                height: 340px;
            }
        }
    }

    .book-detail-container {

        padding: 30px;
        width: 100%;

        .book-detail-row {
            
            border-bottom: 1px solid rgb(68, 70, 70);
            padding: 15px 0;
        }
    }
}