#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  min-width: 100%;
  border-bottom: 1px solid #fff;
}

.header-nav {
  min-width: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-el {
  color: #ccc;
  padding: 5px;
}

.header-nav-el:hover {
  color: #dddddd;
}

.main {
  flex-grow: 1;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

.books-grid {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 4fr); /* Two columns */
  gap: 2%; 
  padding: 16px; 
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-decoration: none;
  color: inherit;
  padding: 20px;

  border: 1px solid #ccc;
  border-radius: 8px;
  
  transition: background-color 0.3s ease;
}

.book-description {
  display: flex;
  text-align: left;
}

.book-container:hover {
  background-color: #3b3b3b;
}

.book-detail-container {
  padding: 20px;
}

.main-book-detail {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.chapter-detail-container {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  text-align: justify;
}

.read-chapter-link {
  width: 100%;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 8px;
  color: inherit;
  text-align: center;
}

.read-chapter-link:hover {
  background-color: #ccc;
}