
.header {

    border-bottom: 1px solid rgba(157, 52, 52, 0.483);

    .header-nav{

        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .header-nav-el {
            color: #ccc;
            
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(157, 52, 52);
            gap: 5px;

            .header-nav-icon {
                width: 15px;
            }

            &:hover {
                transition: 0.1s;
                transform: scale(1.1);
            }
        }
    }
}
