.header {
    border-bottom: 1px solid #fff;
  
  .header-nav {
    padding: 10px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-nav-el {
    color: #ccc;
    padding: 5px;
  }
    
  :hover {
    color: #ff0000;
  }

}